.tooltip {
  position: relative;
  font-weight: bolder;
  cursor: pointer;
}
.tooltip:hover::before {
  content: "";
  border: solid transparent;
  border-top-color: #b5e853;
  border-width: 10px;
  position: absolute;
  top: -10px;
}
.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  min-width: 15em;
  font-weight: 100;
  line-height: 1.3em;
  margin: 0;
  background: #b5e853;
  color: #1a1a1a;
  padding: 15px;
  border-radius: 5px;
  right: -230%;
  top: -286%;
  z-index: 1;
  font-size: .7em;
  box-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

header h1:before {
    content: "./" !important;
}

#-about_me #-blog #-social_network_stuff{
  cursor: crosshair;
}

a:hover{
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5), 0 0 9px rgba(104, 182, 255, 1);
}

.blinker{
  animation: 1.25s blink step-end infinite;
}

h2#-welcome-to-my-mind{
  width: 63%;
}

.typer{
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  border-right: .15em solid;
  animation:
    typing 30s steps(30, end) infinite,
    blink-caret .5s step-end infinite;

}

.typer::before{
  content: "~\\$ ";
}

/*.typer::after{
  content: "_ ";
  animation: 1.25s blink step-end infinite;
}*/

@keyframes blink{
  from,to{
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50%{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes blink-caret {
  from, to { border-right: .15em hidden;}
  50% { border-right: .15em solid; }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  20%, 100% {
    width: 100%;
  }
  0% {
    width: 0
  }
  10% {
    width: 100%;
  }
}

/************ Glitchy Text *********************/

@import "compass/css3";

.glitch{
  color:#b5e853;
  /*font-size:100px;*/
  position:relative;
  /*width:400px;*/
  margin:0 auto;
  animation:noise-zoom 10s infinite linear alternate-reverse;
}
@keyframes noise-zoom{
  0% {
    transform: scale(1 - random(10)/100)
  }
  10% {
    transform: scale(1 - random(3)/100)
  }
  20% {
    transform: scale(1 - random(3)/100) skew(-(random(10)-5)+deg, 0);
  }
  30% {
    transform: scale(1 - random(3)/100)
  }
  40% {
    transform: scale(1 - random(3)/100)
  }
  50% {
    transform: scale(1 - random(3)/100)
  }
  60% {
    transform: scale(1 - random(3)/100)
  }
  70% {
    transform: scale(1 - random(3)/100)
  }
  80% {
    transform: scale(1 - random(3)/100);
    transform: scale(1 - random(3)/100) skew(-random(10)+deg, 0);
  }
  90% {
    transform: scale(1 - random(3)/100)
  }
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
      text-shadow:(random(20)-10+px) (random(20)-10+px)  (random(40)+px) rgba(255,255,255,.8);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:#b5e853;
  /*background:black;*/
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 5s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
      text-shadow:(random(20)-10+px) (random(20)-10+px)  (random(40)+px) rgba(random(255),random(255),random(255),.6);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:#b5e853;
  /*background:black;*/
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 6s infinite linear alternate-reverse;
}

/*********** End of Glitchy Text ***************/

/*gallery stuff*/
ul.ins-imgs {
    list-style-type: none;
    padding: 0;
}

li.ins-imgs-li {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.ins-imgs-img img {
    outline: none;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

div.ins-imgs-img.zoom img {
    max-width: 100% !important;
}

div.ins-imgs-label {
    padding-top: 5px;
}

div.ins-imgs-img a:focus {
    outline: none;
}

footer {
    padding: 25px 0;
    text-align: center;
}
/*gallery stuff*/
