.tooltip {
  position: relative;
  font-weight: bolder;
  cursor: pointer;
}
.tooltip:hover::before {
  content: "";
  border: solid transparent;
  border-top-color: #b5e853;
  border-width: 10px;
  position: absolute;
  top: -10px;
}
.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  min-width: 15em;
  font-weight: 100;
  line-height: 1.3em;
  margin: 0;
  background: #b5e853;
  color: #1a1a1a;
  padding: 15px;
  border-radius: 5px;
  right: -230%;
  top: -286%;
  z-index: 1;
  font-size: .7em;
  box-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

header h1:before {
    content: "./" !important;
}

#-about_me #-blog #-social_network_stuff{
  cursor: crosshair;
}

a:hover{
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5), 0 0 9px rgba(104, 182, 255, 1);
}

/*gallery stuff*/
ul.ins-imgs {
    list-style-type: none;
    padding: 0;
}

li.ins-imgs-li {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.ins-imgs-img img {
    outline: none;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

div.ins-imgs-img.zoom img {
    max-width: 100% !important;
}

div.ins-imgs-label {
    padding-top: 5px;
}

div.ins-imgs-img a:focus {
    outline: none;
}

footer {
    padding: 25px 0;
    text-align: center;
}
/*gallery stuff*/
